.container{
    width: 920px;
    margin: 0 auto;
}

@media screen and (max-width: 920px){
    .container{
        width: 600px;
    }
}
@media screen and (max-width: 620px){
    .container{
        width: 400px;
    }
}
@media screen and (max-width: 420px){
    .container{
        width: 300px;
    }
}